

/*--------box sizing--------*/
html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  /* --------responsive images-------*/
 img{
     max-width: 100%;
     height: auto;
 }

  /* --------utility class -------*/
.container {
    width: 70vw;
    max-width: 900px;
    margin: 40px auto;

}

.img-right{
    float:right;
    padding:5px;
    border:1px solid #c0c0c0;
    margin:10px 0 10px 20px;
}

.img-center{
    display: block;
    padding:5px;
    border:1px solid #c0c0c0;
    margin:10px 0 10px 20px;
}

.img-left{
    float:left;
    padding:5px;
    border:1px solid #c0c0c0;
    margin:10px 20px 10px 20px;
}

.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}


/*-------global styles---------*/

header.primary{

    background-color:#e6ccae;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%239C92AC' fill-opacity='0.53'%3E%3Cpath fill-rule='evenodd' d='M41 37.59V25h-2v12.59l-8.9-8.9-1.41 1.41 8.9 8.9H25v2h12.59l-8.9 8.9 1.41 1.41 8.9-8.9V55h2V42.41l8.9 8.9 1.41-1.41-8.9-8.9H55v-2H42.41l8.9-8.9-1.41-1.41-8.9 8.9zM1 1h2v2H1V1zm0 4h2v2H1V5zm0 4h2v2H1V9zm0 4h2v2H1v-2zm0 4h2v2H1v-2zm0 4h2v2H1v-2zm0 4h2v2H1v-2zm0 4h2v2H1v-2zm0 4h2v2H1v-2zm0 4h2v2H1v-2zm0 4h2v2H1v-2zm0 4h2v2H1v-2zm0 4h2v2H1v-2zm0 4h2v2H1v-2zm0 4h2v2H1v-2zm0 4h2v2H1v-2zm0 4h2v2H1v-2zm0 4h2v2H1v-2zm0 4h2v2H1v-2zm0 4h2v2H1v-2zm4 0h2v2H5v-2zm4 0h2v2H9v-2zm4 0h2v2h-2v-2zm4 0h2v2h-2v-2zm4 0h2v2h-2v-2zm4 0h2v2h-2v-2zm4 0h2v2h-2v-2zm4 0h2v2h-2v-2zm4 0h2v2h-2v-2zm4 0h2v2h-2v-2zm4 0h2v2h-2v-2zm4 0h2v2h-2v-2zm4 0h2v2h-2v-2zm4 0h2v2h-2v-2zm4 0h2v2h-2v-2zm4 0h2v2h-2v-2zm4 0h2v2h-2v-2zm4 0h2v2h-2v-2zm4 0h2v2h-2v-2zM5 1h2v2H5V1zm4 0h2v2H9V1zm4 0h2v2h-2V1zm4 0h2v2h-2V1zm4 0h2v2h-2V1zm4 0h2v2h-2V1zm4 0h2v2h-2V1zm4 0h2v2h-2V1zm4 0h2v2h-2V1zm4 0h2v2h-2V1zm4 0h2v2h-2V1zm4 0h2v2h-2V1zm4 0h2v2h-2V1zm4 0h2v2h-2V1zm4 0h2v2h-2V1zm4 0h2v2h-2V1zm4 0h2v2h-2V1zm4 0h2v2h-2V1zm4 0h2v2h-2V1zm0 4h2v2h-2V5zm0 4h2v2h-2V9zm0 4h2v2h-2v-2zm0 4h2v2h-2v-2zm0 4h2v2h-2v-2zm0 4h2v2h-2v-2zm0 4h2v2h-2v-2zm0 4h2v2h-2v-2zm0 4h2v2h-2v-2zm0 4h2v2h-2v-2zm0 4h2v2h-2v-2zm0 4h2v2h-2v-2zm0 4h2v2h-2v-2zm0 4h2v2h-2v-2zm0 4h2v2h-2v-2zm0 4h2v2h-2v-2zm0 4h2v2h-2v-2zm0 4h2v2h-2v-2zM5 5h70v70H5V5zm2 68h66V7H7v66zM9 9h62v62H9V9zm2 60h58V11H11v58zm2-39.6V13h16.4A29.1 29.1 0 0 0 13 29.4zM15 15v6.67A31.17 31.17 0 0 1 21.67 15H15zm-2 52V50.6A29.1 29.1 0 0 0 29.4 67H13zm2-8.67V65h6.67A31.17 31.17 0 0 1 15 58.33zM67 67H50.6A29.1 29.1 0 0 0 67 50.6V67zm-8.67-2H65v-6.67A31.17 31.17 0 0 1 58.33 65zM67 13v16.4A29.1 29.1 0 0 0 50.6 13H67zm-2 8.67V15h-6.67A31.17 31.17 0 0 1 65 21.67zM39 13h2v2h-2v-2zm7.02.66l1.93.52-.51 1.93-1.94-.52.52-1.93zm6.61 2.46l1.74 1-1 1.73-1.74-1 1-1.73zm5.75 4.08l1.42 1.42-1.42 1.4-1.4-1.4 1.4-1.42zm4.5 5.43l1 1.74-1.73 1-1-1.74 1.73-1zm2.94 6.42l.52 1.93-1.93.52-.52-1.94 1.93-.51zM67 39v2h-2v-2h2zm-.66 7.02l-.52 1.93-1.93-.51.52-1.94 1.93.52zm-2.46 6.61l-1 1.74-1.73-1 1-1.74 1.73 1zm-4.08 5.75l-1.42 1.42-1.4-1.42 1.4-1.4 1.42 1.4zm-5.43 4.5l-1.74 1-1-1.73 1.74-1 1 1.73zM41 67h-2v-2h2v2zm6.95-1.18l-1.93.52-.52-1.93 1.94-.52.51 1.93zm-13.97.52l-1.93-.52.51-1.93 1.94.52-.52 1.93zm-6.61-2.46l-1.74-1 1-1.73 1.74 1-1 1.73zm-5.75-4.08l-1.42-1.42 1.42-1.4 1.4 1.4-1.4 1.42zm-4.5-5.43l-1-1.74 1.73-1 1 1.74-1.73 1zm-2.94-6.42l-.52-1.93 1.93-.52.52 1.94-1.93.51zM13 41v-2h2v2h-2zm.66-7.02l.52-1.93 1.93.51-.52 1.94-1.93-.52zm2.46-6.61l1-1.74 1.73 1-1 1.74-1.73-1zm4.08-5.75l1.42-1.42 1.4 1.42-1.4 1.4-1.42-1.4zm5.43-4.5l1.74-1 1 1.73-1.74 1-1-1.73zm6.42-2.94l1.93-.52.52 1.93-1.94.52-.51-1.93zM40 63a23 23 0 1 1 0-46 23 23 0 0 1 0 46zm0-2a21 21 0 1 0 0-42 21 21 0 0 0 0 42zm0-2a19 19 0 1 1 0-38 19 19 0 0 1 0 38zm0-2a17 17 0 1 0 0-34 17 17 0 0 0 0 34z'/%3E%3C/g%3E%3C/svg%3E");
    text-align: center;
    color:#420b27;
    text-shadow: 10px 20px 30px #00000000;
    /*padding: 40px; /*
    /* long form */
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 40px;

    /* T,R,B,L */
    /*padding: 40px 40px 40px 40px*/

    /*Top/bottom  right/left */
    /* padding: 20px 40px; */
}

header.primary h1{

    font-size:2.8rem;
    margin: 20px 0;
}
header.primary h1 a{
    color;#420b27;
}

header.primary h2{
    font-size: 2rem;
    margin: 20px auto 40px;
}

header.primary nav{
    width: 70vw;
    margin: 20px auto;
    max-width: 900px;
}

header.primary nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0;


}

header.primary nav ul li{
    list-style-type: none;
    margin-bottom: 30px;
}

header.primary nav ul li a:link, header.primary nav ul li a:visited{
color: white;
text-decoration: none;
background-color: rgba(0,0,0,.4);
/*background-color:black ; */
/* opacity- all transparent */
transition: .5s;
padding: 8px 16px;
border-radius: 20px;
border: 2px solid blueviolet;
}

header.primary nav ul li a:hover, header.primary nav ul li a:active{
    background-color: rgba(0,0,0,.8);
}

#intro h2{
color:rebeccapurple;
border-bottom: 5px double black;
}

#intro p{
    /*line-height: 1.5;*/
}

#intro{
    border-bottom: 5px double black;
    padding-bottom: 1.1rem;
    border-radius: 20px;

}

#additional-elements{
    border-bottom: 5px double black;
    padding-bottom: 1.1rem;
    border-radius: 20px;
}

.title{
    color: black;
    font-weight: bold;
    font-size: x-large;
}

#content.container{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-bottom: 5px double black;
    padding-bottom: 2.5rem;
}

#additional-elements{
    padding: 2.5rem;
}

article.post{
    width:30%;
    box-shadow:0 4px 8px rgba(0,0,0,.4);
    padding:4rem;
    font-size: 1rem;
}
article.post:hover{
    box-shadow:0 8px 16px rgba(0,0,0,.4);
}

article.post figure{
    margin: 0;
}

.post-date, figcaption, .post-meta{
    text-transform: uppercase;
    color:rebeccapurple;
}

h2,h3,h4,h5{
    color: rebeccapurple;
}
article a:link{
    color: saddlebrown;
}
article a:hover, article a:active{
    text-decoration: none;
}

aside[role="complementary"] {
    background-color: #e6ccae;
    padding: 1.8rem;
}

aside div.container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/*----make 3rd longer----
aside article:nth-child(3){
    width: 100%;
}


flex wrap for more than 2
---*/

body aside .container article A:link{
    display: block;
    color: #420b27;
    margin-top: 10%;
}

aside article footer{
    display: none;
}
dl{
    color: #7e5979;
    background: wheat;
    position: relative;
    width: 300px;
    margin: 25px auto 0;
    padding: 10px;
    box-sizing: border-box;
    border: #7e5979 double 5px;
}

dl li{
    display: flex;
    background: saddlebrown;
    padding: 10px 20px;
    color: whitesmoke;
    margin: 5px 0;
    transition: .5s;
    font-weight: bold;
}

dl:nth-child(odd){
    background: brown;
}
ol{
    color: red;
    position: relative;
    width: 300px;
    margin: 25px auto 0;
    padding: 10px;
    box-sizing: border-box;
    border: black double 5px;
}

ol li{
    display: flex;
    background: saddlebrown;
    padding: 10px 20px;
    color: whitesmoke;
    margin: 5px 0;
    transition: .5s;
    font-weight: bold;
}

ol li:nth-child(odd){
    background: brown;
}

.food{
  position: relative;
    width: 300px;
    margin: 25px auto 0;
    padding: 10px;
    box-sizing: border-box;
    border: saddlebrown double 5px;
}

.food li{
    display: flex;
    background: #420b27;
    padding: 10px 20px;
    color: whitesmoke;
    margin: 5px 0;
    transition: .5s;
    font-weight: bold;
}

.food li:nth-child(odd){
    background: #7e5979;
}
.food li:nth-child(4){
    border: saddlebrown double 5px;
} 
.food li:nth-child(3){
    border: saddlebrown double 5px;
}

.food li:nth-child(2){
    border: saddlebrown double 5px;
}

.food li:nth-child(1){
    border: saddlebrown double 5px;
}
table{
    width: 100%;
    border-collapse: collapse;

 }
tr:nth-child(odd){
    background-color: violet;
}
th{
    background-color: blueviolet;
    color: wheat;
    padding: 8px;

}
td{
    border:1px solid black;
    padding: 4px;
    text-align: right;
    width: 33.3%;
}
td:nth-child(3n+1){
    text-align: left;
}


#colophon{
    background-color:#e6ccae;
    padding: 1opx;
}

#colophon h6{
    margin:0;
    text-align: center;
    color: #420b27;
    font-size: 3em;
    text-shadow: 2px 2px black;

}




@media screen and (max-width:500px){
    header.primary nav ul{
        flex-direction: column;
        justify-content: space-evenly;
        }
    header.primary nav ul li{
        margin-bottom: 25px;
    }

    header.primary a{
        display:block
    }

body{
    background-color: #7e5979;
    font-family: 'Roboto'; sans-serif;
    margin:0;
    line-height: 1.5;
}

/*
#D59DD5-light purple
#CDC6AB-beige
#805E80-dark purple
#719A94-blue green
#65807C-green
*/
