
/*box sizing*/
html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
/*responsive images*/
img{
    max-width: 100%;
    height: auto;
}
/*utility class*/
.container {
    width: 70vw;
    max-width: 900px;
    margin: 40px auto;

}

/*----global styles-----*/

  






/* colors, #5833A6, #8679D9, #2E3D59, #141A26, #0D0D0D*/
