
/*box sizing*/
html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
/*responsive images*/
img{
    max-width: 100%;
    height: auto;
}
/*utility class*/
.container {
    width: 70vw;
    max-width: 900px;
    margin: 40px auto;

}

/*----global styles-----*/

body {
    background-image: linear-gradient(black, #2F2536, #BDBDFF);
}

p, h1, h2, h3, dd, dt {
  color: white;
}

h3{
  font-size: x-large;
  font-style: oblique;
  border-bottom: #BDBDFF double 5px;
}

h2{
  font-size: x-large;
  font-style: oblique;
}

#logo{
  max-width: 50%;
  height: 50%;
}
#thing{
  max-width: 50%;
  height: 50%;
  display: block;
  padding:5px;
  border:1px double #BDBDFF;
  margin:10px 0 10px 20px;
}

.primary ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow:hidden;
    background-color: #919191;

}

.primary li{
  float: left;
}

.primary li a{
  display: block;
  color: #0C2F70;
  text-align: center;
  padding: 14px 16px;
  text-decoration: double;
}

.primary li a:hover {
  background-color: #BDBDFF;
}

header.primary{
  background-color:;
  text-align: left;
}

/* colors, #2F2536, #BDBDFF, #FAF5F8, #919191, #1F1F1F*/
